body {
    background: #929292;
    padding: 0px;
    margin: 0px;
    font-family: "segoe-ui", "open-sans", tahoma, arial;
    font-size: 16px;
  }

  .levels_btns {
      width: 80%;
      background-color: #ffff;
      padding: 20px;
      font-weight: bold;
  }

  .row_btns {
    background-color: #353535;
    width: 82%;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    margin-left: 0px !important;
  }

  .stat_numbers {
    font-weight: bold;
    font-size: 40px;
    padding-right: 5px;
  }

  .beginner {
    color: #43694D;
  }

  .intermediate {
    color: #DFA801; 
  }

  .advanced {
    color: #421663;  
  }

  .stats {
      display: inline-block;
  }

  .stat_txt {
    color: white;
    font-weight: bold;
  }

  .cont {
    background-color: #414141;
  }

  .user-stats-row {
    padding: 2%;
  }

  .welcome-user-row {
    padding: 5%;
  }