html {
  background: #282828;
  zoom: 100%;
}
body {
  background: #353535;
  padding: 0px;
  margin: 40px;
  font-family: "segoe-ui", "open-sans", tahoma, arial;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color:#fff;
}
h3 {
  color: #fff;
}
h1 {
  margin: 25px auto 0;
  text-align: center;
  /* text-transform: uppercase; */
  /* font-size: 40px; */
  color: #fff;
}
a {
  text-decoration: none;
}

input, button {
  font-family: "segoe-ui", "open-sans", tahoma, arial;
  font-weight: 700;
  color: #fff;
}

#wsuloginlogo {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  color: #fff;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.main-div, .loggedin-div, .newloggedin-div {
  width: 30%;
  margin: 0px auto;
  /* margin-top: 150px; */
  padding: 20px;
  /*display: none; This is causing the main page not to show for me; not sure if it's supposed to be here*/
}

.loggedin-div {
  height: 200px;
}

.user_div_button {
  margin-top: 20px;
  width: auto;
  height: auto;
}

.main-div input, .modal-dialog input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #282828;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.modal-content {
  background: #282828;
}

.main-div button, .loggedin-div button, .newloggedin-div button, .modal-dialog button, .outer button {
  background: #421663;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover, .newloggedin-div button:hover, .modal-dialog button:hover, .outer button:hover {
  background: #43964D;
  color: #fff;
  cursor: pointer;
}

.modal-footer-close button:hover {
  background: tomato;
  color: #fff;
  cursor: pointer;
}

.nav{
        padding: 10px 0px;
      }

         .main-menu>li{
          display: inline-block;
          width: 150px;
          padding: 10px 0px;
          margin-left: 10px;
          text-align: center;
          color: white;
          font-size: 20px;
          border-left: 1px solid white;
          transition: .4s;
          cursor: pointer;
          box-sizing: border-box;

         }
         
         .main-menu li:hover .sub-menu{
              display: block;
         }
 
         .sub-menu{
          display: none;
          position: absolute;
          padding: 0px;
          margin-top: 30px;
          margin-left: -10px; 
          float: left;
          width: 300px; 
          text-align: left;
          box-sizing: border-box;
          border: 5px solid white;
          box-shadow: 1px 1px 1px grey;
          
       
         }

         .sub-menu:before{
                 content:"";
                 width: 0px;
                 height:0px;
                 border-left:20px solid transparent;
                 border-right:20px solid transparent;
                 border-bottom:30px solid white;
                 position: absolute;
                 margin:-30px 0px 0px 60px;
         }

         .sub-menu li{
          list-style-type: none;
          padding: 10px;
          color: #000000;
          font-size: 20px;
          background: #421663;
         }
     .main-menu>li:hover, .sub-menu>li:hover{
          background: #43964D;
         }

#create_user {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.user_div_button {

margin-top: 20px;
width: auto;
height: auto;
}

.left {
  float: left;
  width: 47.5%;
}
.right{
  float: right;
  width: 47.5%;
}

.outer
{
    text-align: center;
}
.inner
{
    display: inline-block;
    padding: 30px;
}

#departments {
  padding: 5vh;
}

hr.thin {
  height: 3px;
  border: 0;
  color: #333;
  background-color: #333;
  width: 80%;
}

.immunhematology {
  background-color: transparent !important;
  border: 1px solid #43964D;
  padding: 50px !important;
  width: 250px !important;
}

.chemistry {
  background-color: transparent !important;
  border: 1px solid #421663;
  padding: 50px !important;
  width: 250px !important;
}

.microbiology {
  background-color: transparent !important;
  border: 1px solid #DFA801;
  padding: 50px !important;
  width: 250px !important;
}

.hematology {
  background-color: transparent !important;
  border: 1px solid #617ef2;
  padding: 50px !important;
  width: 250px !important;
}

.immunology {
  background-color: transparent !important;
  border: 1px solid #D0BFED;
  padding: 50px !important;
  width: 250px !important;
}

.urinalysis {
  background-color: transparent !important;
  border: 1px solid #f70f83;
  padding: 50px !important;
  width: 250px !important;
}

.panel {
  background-color: transparent !important;
  border: 1px solid #43964D;
  padding: 30px !important;
}

.panelex {
  background-color: transparent !important;
  border: 1px solid #43964D;
  padding: 30px !important;
}

.pq {
  background-color: transparent !important;
  border: 1px solid #43964D;
  padding: 30px !important;
}

.panel_options {
  padding: 20px;
}

#immunhematology {
  padding: 5vh;
}