html {
  background: #282828;
  zoom: 100%;
}

body {
    background: #353535;
    padding: 0px;
    margin: 40px;
    font-family: "segoe-ui", "open-sans", tahoma, arial;
    font-size: 16px;
    align-content: center;
    color: #FFF;

  }

  button {
  margin-top: 20px;
  background: #421663;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  width:200px;

}

h3 {
  margin-bottom: 40px;
}

button:hover {
  background: #43964D;
  color: #fff;
  cursor: pointer;
}

.outer
{
    width:100%;
    text-align: center;
    background: #282828;
}
.inner
{
    display: inline-block;
    padding: 10px;
}


.question{
    font-weight: 600;
}
.answers {
    margin-bottom: 20px;
    padding: 20px;
}
label {
  padding: 10px;
 display: inline-block;
}

#submit{
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
}
#submit:hover{
   background: #D0BFED;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.panel-btn {
    padding: 10px 40px !important;
    color: #DFa801 !important;
}

.container {
    background-color: #353535;
}

.each-row {
    padding: 40px;
}

.header {
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

hr {
    background-color: white;
    padding-top: 1%;
}

hr.thin {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 80%;
}

.panel-btn:active {
    background-color: yellow;
}

.panel-btn:hover {
    background-color: #fcfbb0;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
}

.nav{
        padding: 10px 0px;
      }

         .main-menu>li{
          display: inline-block;
          width: 150px;
          padding: 10px 0px;
          margin-left: 10px;
          text-align: center;
          color: white;
          font-size: 20px;
          border-left: 1px solid white;
          transition: .4s;
          cursor: pointer;
          box-sizing: border-box;

         }
         
         .main-menu li:hover .sub-menu{
              display: block;
         }
 
         .sub-menu{
          display: none;
          position: absolute;
          padding: 0px;
          margin-top: 30px;
          margin-left: -10px; 
          float: left;
          width: 300px; 
          text-align: left;
          box-sizing: border-box;
          border: 5px solid white;
          box-shadow: 1px 1px 1px grey;
          
       
         }

         .sub-menu:before{
                 content:"";
                 width: 0px;
                 height:0px;
                 border-left:20px solid transparent;
                 border-right:20px solid transparent;
                 border-bottom:30px solid white;
                 position: absolute;
                 margin:-30px 0px 0px 60px;
         }

         .sub-menu li{
          list-style-type: none;
          padding: 10px;
          color: #000000;
          font-size: 20px;
          background: #421663;
         }
     .main-menu>li:hover, .sub-menu>li:hover{
          background: #43964D;
         }