html {
	zoom: 100%;
}

body {
    background: #353535;
    padding: 0px;
    margin: 40px;
    font-family: "Helvetica", "open-sans";
    font-size: 20px;
    align-content: center;
    color: #FFF;
}

.outer
{
    width:100%;
    text-align: left;
    background: #282828;
}
.inner
{
    display: inline-block;
    padding: 10px;
}

 h1 {
	margin-bottom: 30px;
	text-align: center;
	color: #fff;
}
h3 {
	white-space: nowrap;
	text-align: center;
	font-size: 75px;
	margin-bottom: 40px;
	padding: 30px;
}

hr {
    background-color: white;
    padding-top: 1%;
}
hr.thin {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 80%;
}

.header {
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

.rowz{
	text-align: center;
	display:block;
}
.each-row {
    padding: 40px;
}

button {
	margin-top: 20px;
	background: #421663;
	color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 5px;
	display: block;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	width:200px;
}
button:hover {
	background: #43964D;
	color: #fff;
	cursor: pointer;
}
#submit{
    font-size: 20px;
    background: #421663;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
    background: #421663;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
#submit:hover{
	background: #a46ef0;
	color: #fff;
	cursor: pointer;
}
#subButt{
	text-align: center;
}
.panel-btn {
    padding: 10px 40px !important;
    color: #DFa801 !important;
}
.panel-btn:active {
    background-color: yellow;
}
.panel-btn:hover {
    background-color: #fcfbb0;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
}

.question{
    font-weight: 600;
}
.answers {
    margin-bottom: 20px;
    padding: 20px;
}
label {
	padding: 10px;
	display: inline-block;
	font-size: 20px;
}

.container {
    background-color: #353535;
}

input[type='radio'] { 
	transform: scale(2); 
	background: #282828;
}
textarea, input {
	background: #353535;
	color: #FFF;
	margin: 15px;
	padding: 20px;
	font-family: "segoe-ui", "open-sans", tahoma, arial;
	font-weight: 700;
}
textarea {
	width: 100%;
}
input {
	margin-left:20px;
}
input[type='checkbox'] {
    width:20px;
    height:20px;
}

a {
	text-decoration: none;
	color: white;
}
a:visited{
	color: white;
}

.nav{
    padding: 10px 0px;
}

.main-menu>li{
    display: inline-block;
    width: 150px;
    padding: 10px 0px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-left: 1px solid white;
    transition: .4s;
    cursor: pointer;
    box-sizing: border-box;
}         
.main-menu li:hover .sub-menu{
    display: block;
} 
.sub-menu{
    display: none;
    position: absolute;
    padding: 0px;
    margin-top: 30px;
    margin-left: -10px; 
    float: left;
    width: 300px; 
    text-align: left;
    box-sizing: border-box;
    border: 5px solid white;
    box-shadow: 1px 1px 1px grey;
}
.sub-menu:before{
    content:"";
    width: 0px;
    height:0px;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-bottom:30px solid white;
    position: absolute;
    margin:-30px 0px 0px 60px;
}
.sub-menu li{
	list-style-type: none;
	padding: 10px;
	color: #000000;
	font-size: 20px;
	background: #421663;
}
.main-menu>li:hover, .sub-menu>li:hover{
	background: #a46ef0;
}

select {
	font-family: "segoe-ui", "open-sans", tahoma, arial;
	font-weight: 700;
	color: #fff;
	background: #353535;
	margin: 30px;
	padding: 30px;
	font-size: 15px;
	width: auto;
	height: auto;
}

#section {
	width: auto;
	margin: 30px;
	padding: 30px;
	font-size: 15px;
	width: 250px;
	height: 85px;
}

#wsuloginlogo {
	width: 100px;
	display: block;
	margin-bottom: 10px;
}