
html {
	background: #282828;
	color: #fff;
}
body {
	font-size: 15px;
	background: #353535;
	font-family: "segoe-ui", "open-sans", tahoma, arial;
	padding: 0;
	margin: 0;
}
table {
	margin: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
	font-size: 12px;
}

h1 {
	margin: 25px auto 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	color: #fff;
	margin-bottom: 50px;

}

button {
  margin-top: 20px;
  background: #421663;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  width:200px;

}

input, button {
  font-family: "segoe-ui", "open-sans", tahoma, arial;
  font-weight: 700;
  color: #fff;
}

input {
	background: #282828;
}


button:hover {
  background: #43964D;
  color: #fff;
  cursor: pointer;
}

.remove:hover {
  background: tomato;
  color: #fff;
  cursor: pointer;
}

.edit:hover {
  background: #DFA801;
  color: #fff;
  cursor: pointer;
}

p {
	margin: 25px auto 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	color: #43964D;

}

table td {
	transition: all .5s;
}

/* Table */
.table {
	border-collapse: collapse;
	font-size: 14px;

}

.table th, 
.table td {
	border: 1px solid #000000;
	padding: 7px 17px;
}
.table caption {
	margin: 7px;
}

.table thead th {
	background-color: #421663;
	border-color: #000000;
	color: #FFFFFF;
}
#subtitle {
	background-color: #43964D;
}

.table tbody td {
	color: #353535;
}

.table tbody td:first-child,
.table tbody td:nth-child(4),
.table tbody td:last-child {
	text-align: right;
}

.table tbody tr:nth-child(odd) td {
	background-color: #f4fbff;
}
.table tbody tr:hover td {
	background-color: #ffffa2;
	border-color: #000000;
}

.table tfoot th {
	background-color: #e5f5ff;
	text-align: right;
}
.table tfoot th:first-child {
	text-align: left;
}
.table tbody td:empty
{
	background-color: #ffcccc;
}
.table tfoot {
	background: #f4fbff;
}


input[type="text"] {
    margin-top: 20px;
    width: 30px;
}

.button_section {

margin-top: 20px;
width: auto;
height: auto;
}


.container{overflow: hidden}
.tab{
	float: left;
}
.tab-2{
	margin-left: 50px;
}
.tab-2 input{
	display: block;
	margin-bottom: 10px;
}
tr{
	transition: all .5s;
	background: #353535;
}
tr:hover{
	background-color:#ffffa2;
	color: #000000;
	cursor: pointer
}
.table-input {
	display: inline-block;
    padding: 50px;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
    padding: 10px;
}


